<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict/>
	<key>StandardErrorPath</key>
	<string>/tmp/denise_error.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/denise_out.log</string>
	<key>Label</key>
	<string>com.denise.daemon</string>
	<key>KeepAlive</key>
	<true/>
	<key>WaitForDebugger</key>
	<false/>
	<key>MachServices</key>
	<dict>
		<key>com.denise.daemon</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/PrivilegedHelperTools/com.denise.daemon.app/Contents/MacOS/com.denise.daemon</string>
	</array>
</dict>
</plist>
